{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('form')}}
{% endblock %}

{% block body %}
	<div class="content column ">
		<div class="comment-form">
			{{ form_start(form)}}
			{{ form_rest(form) }}
			<div class="flex">
				{% if promo.picture %}

						<div class="imagecard">
							<img width="100%" height="100%" src="{{ vich_uploader_asset(promo.picture,'imageFile') }}" alt="">
							
						</div>

				{% endif %}
			</div>
			<button class="btn btn-primary">soumettre</button>
			{{ form_end(form)}}
		</div>
	</div>

{% endblock %}
