{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('aboutUs') }}
{% endblock %}
{% block title %}
	A Propos


{% endblock %}


{% block body %}
	<div style="--background: {{colors.allColors.primary}};" class="content">

		<div class="image flex column" style="background-image:url('{{ vich_uploader_asset(design.aboutUsPicture,'imageFile') }}')">
			<h1>{{design.aboutUsPictureTitle}}</h1>

			<h4>{{design.aboutUsPictureSubTitle}}</h4>


		</div>
		<div class="contentAboutUs flex column">
			<h1>{{design.aboutUsTitle}}</h1>


			<p style="white-space: pre-line">{{design.aboutUsContent}}</p>


		</div>


	</div>


{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('aboutUs') }}


{% endblock %}
