{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('contact') }}
{% endblock %}
{% block title %}
	Contact


{% endblock %}


{% block body %}

	<div class="content flex column">

		<div data-color={{colors.allcolors.primary}} class="contact flex">

			<div class="contact_left flex column">
				<h1 style="color: {{colors.allColors.primary}}">Contactez nous !

				</h1>
				{{ form_start(form) }}

				<div class="formelements flex column">
					{{ form_widget(form.name) }}
					{{ form_errors(form.name) }}

				</div>
				<div class="formelements flex column">
					{{ form_widget(form.email) }}
					{{ form_errors(form.email) }}

				</div>

				<div class="formelements flex column">
					{{ form_widget(form.subject) }}
					{{ form_errors(form.subject) }}

				</div>

				<div class="formelements flex column">
					{{ form_widget(form.content) }}
					{{ form_errors(form.content) }}

				</div>


				<button onclick="activeLoader()" style="background-color: {{colors.allColors.primary}}" type="submit">Envoyer</button>

				<div class="toFill"></div>
				{{ form_end(form) }}


			</div>
			<div style="background-color: {{colors.allColors.primary}}" class="contact_right flex column">

				<div class="adress flex">
					<span>
						<i class="fas fa-map-marker"></i>
					</span>
					<p>
						<span>Adresse</span>
						: 18 rue ganlandoufiouf</p>
				</div>
				<div class="phone flex">
					<span>
						<i class="fas fa-phone-volume"></i>
					</span>
					<p>
						<span>
							Télephone
						</span>
						: 33 821 41 78 - 33 888 11 22</p>
				</div>
				<div class="email flex">
					<span>
						<i class="fas fa-mail-bulk"></i>
					</span>
					<p>
						<span>Email
						</span>
						: anisazarleplusbeau@gmail.com</p>
				</div>
				<div class="horraire column">
					<div class="flex">
						<span>
							<i class="far fa-clock"></i>
						</span>
						<p>
							<span>
								Horaire :</span>
						</p>
					</div>

					<p class="vendredi">
						Lundi - Vendredi : 8H30 - 12H45 | 14H45 - 18H00</p>
					<br>
					<p class="samedi">
						Samedi : 8H45 | 12H45</p>

				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('contact') }}


{% endblock %}
