<div style="background-color : {{bande.color}}" class="high-category-carousel">


	<div class=" category-carousel">
		<div class="item_titre">
			<h1>
				{{bande.title|capitalize }}</h1>


		</div>
		<div class="item_description">{{bande.subtitle|capitalize}}</div>


		<div class=" carouselSelect theCategoryCarousel" data-type="article" data-visible={{bande.slideVisible}} data-scroll={{bande.slideToScroll}}>
			{% for item in bande.bandeCategoryTitle.categories %}

				<div class="item_category flex column ">


					<a class="linkHigh" href="{{path('category',{ slug: item.slug } )}}">{{item.name|capitalize }}</a>


					{% for element in item.categoriesChildrens|slice(0,5) %}

						<a class="linkLow" {{path('productsCategories',{ slug: element.slug } )}}">{{element.name|capitalize }}</a>


					{% endfor %}


				</div>
			{% endfor %}

		</div>
	</div>
</div>
