<div style="background-color: {{design.colorBande}}" class=" high-showoff">
	<div class="showoff flex column ">
		<h1>{{design.bandeTitle}}</h1>
		<div class="showoffIn flex">
			<div class=" flex column ">
				<span>{{ source('@public_path'~asset('svg/paint.svg')) }}</span>

				<h2>{{design.bandeTitleLeft}}</h2>

				<p>{{design.bandeLeft}}</p>

			</div>
			<div class=" flex column ">
				<span>
					{{ source('@public_path'~asset('svg/box.svg')) }}</span>

				<h2>{{design.bandeTitleCenter}}</h2>

				<p>{{design.bandeCenter}}</p>

			</div>
			<div class=" flex column ">
				<span>
					{{ source('@public_path'~asset('svg/customer.svg')) }}</span>

				<h2>{{design.bandeTitleRight}}</h2>

				<p>{{design.bandeRight}}</p>

			</div>

		</div>


	</div>
</div>
