<div style="background-color : {{bande.color}}" class="high-article">


	<div style="--background: {{colors.allColors.primary}};" class="article">

		<div class="item_titre">
			<h1>
				{{bande.title|capitalize}}</h1>

		</div>
		<div class="item_description">{{bande.subtitle}}</div>
		<div class="carouselSelect carouselProduct" data-type="article" data-visible={{bande.slideVisible}} data-scroll={{bande.slideToScroll}}>
			{% for product in bande.bandeProduct.products %}
				<div class="produit flex column">
					<a href="{{path('produit',{ slug: product.slug })}}">


						<div class="img-produit">
							<img width="60%" height="90%" src="{{ vich_uploader_asset(product.pictures[0],'imageFile') }}">
						</div>
						<div class="titre-produit">
							<h3>{{product.name|capitalize}}</h3>

						</div>
						<div class="reference-produit">
							<h3>{{product.reference|capitalize}}</h3>

						</div>
					</a>
					<div class="bas-produit flex column ">
						<div class="disponible flex column ">
							<h2>Disponibilité :
							</h2>
							<h2>En stock</h2>
						</div>
						<div class="ajout-produit flex">
							<div class="flex surquantity column">
								<div class="quantity flex">
									<input readonly="readonly" type="number" name="tentacles" min="1" value="1">

								</div>
								<div class="unite">
									{{product.unite}}
								</div>
							</div>


							<button data-name={{product.name}} data-id={{ product.id }} {{ is_granted('ROLE_USER') ? 'onclick="addBasket(this)"' : 'onclick="popup(`Vous devez vous connecter pour pouvoir ajoutez un produit dans votre panier`,`error`)"'}}>Ajouter</button>


						</div>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
