{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block cdn %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}

	<div class="content flex column">

		{% for bande in bandes %}
			{% if loop.index == design.position %}
				{{ include('home/bande_decor.html.twig') }}

			{% endif %}

			{% if bande.type == "product" %}
				{{ include('home/bande_product.html.twig') }}
			{% elseif bande.type == "marque" %}
				{{ include('home/bande_marque.html.twig') }}
			{%  elseif bande.type == "category" %}
				{{ include('home/bande_category.html.twig') }}

			{%  elseif  bande.type == "promo" %}
				{{ include('home/bande_promo.html.twig') }}
			{%  elseif bande.type == "categoryTitle" %}
				{{ include('home/bande_categoryTitle.html.twig') }}

			{%  elseif bande.type == "article" %}
				{{ include('home/bande_article.html.twig') }}
			{% endif %}
		{% endfor %}
	</div>


{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
	{{ encore_entry_script_tags('addbasket') }}
	{{ encore_entry_script_tags('produitQuery') }}


{% endblock %}
