<footer style="background-color: {{colors.allColors.primary}}" class="flex">

	<div class="footer-left flex column">
		<a href="{{ path('contact')}}">Contact/Aide</a>
		<a href="{{ path('profile')}}">Mon Compte

		</a>


		<a href="{{ path('commande_valide')}}">Suivi de commande</a>
		<a href="{{ path('parameters')}}">Mes Informations</a>


		<a href="{{ path('aboutUs')}}">Qui sommes-nous ?</a>


		<a href="{{ path('marque')}}">Nos marques</a>

		<a href="{{ path('articles')}}">Nos articles</a>


		<p>©2021 Azar</p>

	</div>
	<div class="footer-center flex column ">
		<h1>Ou nous trouver ?
		</h1>
		<div id="map"></div>
	</div>
	<div class="footer-right flex column ">

		<h1>Nous contacter</h1>
		<div>
			<i class=" fa-2x fas fa-phone"></i>


			<p>
				33 821 41 78 - 33 888 11 22</p>
		</div>
		<div>
			<i class=" fa-2x fas fa-clock"></i>


			<p>Lundi - Vendredi : 8H30 - 12H45 | 14H45 - 18H00
																																																																																																																																				        Samedi : 8H45 | 12H45
			</p>
		</div>

	</div>


</footer>
