<header style="background-color: {{colors.allColors.primary}}" class=" flex column ">


	<div class="modal">
		<div class="modal-wrapper connexion">
			<div class=" switch flex">
				<p style="color: {{colors.allColors.primary}}" class="switchConnexion ">Connexion</p>

				<span>
					|</span>
				<p style="color: {{colors.allColors.primary}}" class="switchInscription">Inscription</p>

			</div>

			<span>
				<i style="color: {{colors.allColors.primary}}" class="fas fa-id-card fa-3x"></i>


			</span>
			<form action="{{ path('login') }}" class="formulaire_connexion column" method="post">

				<div class="form-row">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
				</div>
				<div class="form-row">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" required>
				</div>
				<a style="margin-left:15%" href="{{ path('reset-password-request') }}">Mot de passe oublié ?</a>


				<div class="form-row">
					<label>
						<input type="checkbox" name="_remember_me">Se souvenir de moi
					</label>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-primary mr-10" type="submit">
					Connexion
				</button>

			</form>


			<div class="formulaire_inscription">
				{{form_start(formInscription)}}
				{{form_rest(formInscription)}}
				<button type="submit">S'inscrire</button>
				{{form_end(formInscription)}}
			</div>


		</div>
	</div>
	<div class="up-header flex">
		<div class="flex up-header-left">
			<a class="logo" href="/">
				<img width="100%" height="100%" src="{{ vich_uploader_asset(logo,'imageFile') }}"/>

			</a>
			<div class="header-title column">
				<h1>Chafic Azar & Cie</h1>
				<h2>Un pour tous et tous pour un
				</h2>

			</div>
		</div>
		<ul class="flex link-header">
			<li>
				<a href="{{ path('home')}}">Accueil</a>


			</li>
			<span>
				<i class=" fas fa-slash"></i>

			</span>
			<li>
				<a href="{{ path('marque')}}">Marques</a>


			</li>
			<span>
				<i class="fas fa-slash"></i>
			</span>
			<li>
				Produits
			</li>
			<span>
				<i class="fas fa-slash"></i>
			</span>
			<li>
				<a href="{{ path('articles')}}">Articles</a>

			</li>
			<span>
				<i class="fas fa-slash"></i>
			</span>
			<li>
				<a href="{{ path('contact')}}">Contact</a>

			</li>
		</ul>
	</div>
	<div class="down-header flex" data-sticky>
		<div style="background-color: {{colors.allColors.primary}}" class="depliant flex ">

			<div class="threebar flex column ">
				<div class="bordurebar"></div>
				<div class="bordurebar"></div>
				<div class="bordurebar"></div>
			</div>
			<div class="arrow-up"></div>
			<span>Produits</span>
			<div class="menudepliant flex">
				<div class="categorieHaut-depliant flex column ">
					{% for category in categoriesHigh  %}
						<a href="{{path('category',{ slug: category.slug })}}" style="--background: {{colors.allColors.primary}};" class="flex ">


							<span>
								<i class="fas fa-plug"></i>
							</span>
							<p data-id={{category.id}}>
								{{category.name}}
							</p>
							<span>
								<i class="fas fa-arrow-right"></i>
							</span>
						</a>
					{% endfor %}
				</div>
				<div class="categorieBas-depliant flex column" style="--background: {{colors.allColors.primary}};"></div>


			</div>

		</div>

		<form id="stopSearchProduct" action="" method="GET" class="flex ">
			<input type="text" placeholder="Rechercher un produit ou une reference ">
			<button style="color: {{colors.allColors.primary}}" onclick="searchProduct(this)" type="submit">

				<i style="color: {{colors.allColors.primary}}" class="fas fa-search fa-2x"></i>

			</button>
		</form>

		{%- if is_granted('ROLE_USER') -%}
			<ul style="color: {{colors.allColors.primary}}" class="flex navbarYes">


				<li class="flex">
					<div href="#" onclick="deplierPanier(this)" class="panier_header flex">

						<a href="{{ path('panier') }}" class="flex  ">

							<i class=" fa-2x fas fa-shopping-basket"></i>
							<p>Panier</p>
						</a>


						<span style="color: {{colors.allColors.primary}}" class="number_panier_header">{{total}}</span>

					</div>

				</li>

				<li>
					<a href="{{ path('profile')}}" class="compte_header">

						<span>
							<i class="fas fa-lg fa-user"></i>

						</span>
						Mon compte

					</a>
				</li>
				<li>
					<a href="{{ path('logout')}}" class="compte_header">

						<span>
							<i class="fas fa-power-off"></i>

						</span>
						Deconnexion

					</a>
				</li>

			</ul>
		{% else %}
			<ul style="color: {{colors.allColors.primary}}" class="flex navbarNo">


				<li>
					<a href="#" class="clickmodal">
						<span>
							<i class="fas fa-lg fa-user"></i>


						</span>
						<p class="flex">
							Connexion
							<span>
								<i class="fas fa-slash"></i>
							</span>
							Inscription</p>

					</a>
				</li>
			</ul>

		{%- endif -%}

	</div>
</header>
