<header class="flex column ">
	<div class="modal">
		<div class="modal-wrapper connexion">
			<div class=" switch flex">
				<p class="switchConnexion ">Connexion</p>
				<span>
					|</span>
				<p class="switchInscription">Inscription</p>
			</div>

			<span>
				<i class="fas fa-id-card fa-3x"></i>


			</span>
			<form action="{{ path('login') }}" class="formulaire_connexion column" method="post">

				<div class="form-row">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
				</div>
				<div class="form-row">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" required>
				</div>
				<a style="margin-left:15%" href="{{ path('reset-password-request') }}">Mot de passe oublié ?</a>


				<div class="form-row">
					<label>
						<input type="checkbox" name="_remember_me">Se souvenir de moi
					</label>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-primary mr-10" type="submit">
					Connexion
				</button>

			</form>


			<div class="formulaire_inscription">
				{{form_start(formInscription)}}
				{{form_rest(formInscription)}}
				<button type="submit">S'inscrire</button>
				{{form_end(formInscription)}}
			</div>


		</div>
	</div>
	<div class="up-header flex">
		<div class="flex up-header-left">
			<a class="logo" href="/">
				<img width="100%" height="100%" src="/assets/images/logo/logo.jfif"/>
			</a>
			<div class="header-title column">
				<h1>Chafic Azar & Cie</h1>
				<h2>Un pour tous et tous pour un
				</h2>

			</div>
		</div>
		<ul class="flex link-header">
			<li>
				Accueil
			</li>
			<span>
				<i class=" fas fa-slash"></i>

			</span>
			<li>
				Marques
			</li>
			<span>
				<i class="fas fa-slash"></i>
			</span>
			<li>
				Trouver un artisan
			</li>
			<span>
				<i class="fas fa-slash"></i>
			</span>
			<li>
				Promotions
			</li>
			<span>
				<i class="fas fa-slash"></i>
			</span>
			<li>
				Produits
			</li>
		</ul>
	</div>
	<div class="down-header flex" data-sticky>
		<div class="depliant flex ">
			<div class="threebar flex column ">
				<div class="bordurebar"></div>
				<div class="bordurebar"></div>
				<div class="bordurebar"></div>
			</div>
			<div class="arrow-up"></div>
			<span>Produits</span>
			<div class="menudepliant flex">
				<div class="categorieHaut-depliant flex column ">
					{% for category in categoriesHigh  %}
						<div class="flex ">
							<span>
								<i class="fas fa-plug"></i>
							</span>
							<p data-id={{category.id}}>
								{{category.name}}
							</p>
							<span>
								<i class="fas fa-arrow-right"></i>
							</span>
						</div>
					{% endfor %}
				</div>
				<div class="categorieBas-depliant flex column"></div>

			</div>

		</div>

		<form action="" method="GET" class="flex ">
			<input type="text" placeholder="Rechercher un produit ou une reference ">
			<button type="submit">
				<i class="fas fa-search fa-2x"></i>
			</button>
		</form>
		<ul class="flex">
			{%- if is_granted('ROLE_USER') -%}

				<li class="flex">
					<div href="#" onclick="deplierPanier(this)" class="panier_header flex">

						<a href="{{ path('panier') }}" class="flex  ">

							<i class=" fa-2x fas fa-shopping-basket"></i>
							<p>Panier</p>
						</a>


						<span class="number_panier_header">{{total}}</span>
					</div>

				</li>

				<li>
					<a href="#" class="compte_header">
						<span>
							<i class="fas fa-id-card-alt"></i>
						</span>
						Compte
						<div class="depliant_compte_header flex column">
							<div>Mon profil</div>
							<div>Mes parametres de comptes</div>
							<div>Mes commandes</div>
							<div></div>
							<div>Deconnexion</div>
						</div>
					</a>
				</li>
			{% else %}

				<li>
					<a href="#" class="clickmodal">
						<span>
							<i class="fas fa-user"></i>
						</span>
						<p>
							Connexion / Inscription</p>
					</a>
				</li>
			{%- endif -%}
		</ul>
	</div>
</header>
