<header>
	<ul>
		<li><a href="{{ path('admin')}}">Accueil</a></li>
		<li><a href="{{ path('admin_marques')}}">Marques</a></li>
		<li><a href="{{ path('admin_high_categories')}}">Hautes Categories</a></li>
		<li><a href="{{ path('admin_low_categories')}}">Basses categories</a></li>
		<li><a href="{{ path('admin_products')}}">Produits</a></li>
		<li><a href="{{ path('admin_design')}}">Design</a></li>
		<li><a href="{{ path('admin_articles')}}">Articles</a></li>
		<li><a href="{{ path('admin_commands')}}">Commandes</a></li>
		<li><a href="{{ path('admin_users')}}">Utilisateurs</a></li>
	</ul>
</header>
