{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('category') }}
{% endblock %}


{% block body %}
	<div class="content flex column ">
		<div class="presentation flex column ">
			<h1>{{category.name|capitalize}}</h1>

			<p>{{category.description}}</p>
			<div class="presCat flex">
				{% for categorie in category.CategoriesChildrens %}
					{% if categorie.produits|length > 0 %}


						<a href="{{path('productsCategories',{ slug: categorie.slug })}}" class="sous-category flex column ">


							<img width="30%" height="60%" src="{{ vich_uploader_asset(categorie.produits[0].pictures[0] ,'imageFile') }}" alt="">

							<h3 style="color: {{colors.allColors.primary}}">{{categorie.name|capitalize}}</h3>


						</a>

					{% endif %}

				{% endfor %}
			</div>

		</div>
		<div class="listecategories flex column">
			<h1>Nos rayons
				{{ category.name|capitalize}}</h1>

			{% for categorie in category.CategoriesChildrens %}
				{% if categorie.produits|length > 0 %}

					<div class="rayon flex  ">
						<a href="{{path('productsCategories',{ slug: categorie.slug })}}" class="rayon-presentation flex column ">

							<h2 style="color: {{colors.allColors.primary}}">{{categorie.name|capitalize}}</h2>


							<div class="rayon-img"><img width="95%" height="95%" src="{{ vich_uploader_asset(categorie.produits[0].pictures[0],'imageFile') }}" alt=""></div>

						</a>
						<div class="rayon-produits flex column ">
							<h1>Les produits les plus populaires de
								{{categorie.name}}</h1>
							<div class="lesproduits">

								{% for produit in categorie.produits %}
									<a href="{{path('produit',{ slug: produit.slug })}}" class="flex column">


										<img width="50%" height="90%" src="{{ vich_uploader_asset(produit.pictures[0],'imageFile') }}" alt="">
										<h3 style="color:{{colors.allColors.primary}}">{{produit.name|capitalize}}</h3>


									</a>

								{% endfor %}


							</div>
						</div>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</div>


{% endblock %}


{% block javascripts %}
	{{ parent() }}

{% endblock %}
