{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('bande')}}
{% endblock %}
{% block cdn %}
	{{parent()}}
	<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
{% block body %}
	<div class="content">
		<h1>Les bandes</h1>
		<div class="bandes" data-sortable=".bande">
			{% for bande in bandes %}
				<div data-type={{bande.type}} class="bande" data-position={{bande.position}}>
					<div onclick="deleteBande(this)" class="cross">
						<i class="fas fa-times"></i>
					</div>
					<div class="details">
						<div id="visible" data-visible="{{bande.slideVisible}} ">Visible:{{bande.slideVisible}}
							&nbsp;</div>
						<br>
						<p>
							Bande de
							{{bande.type}}
						</p>

						<div>Scroll:{{bande.slideToScroll}}
							&nbsp;</div>

					</div>
					<div class="subdetails">
						<label for="title">
							Titre :
						</label>
						<input type="text" name='title' id="title" value="{{ bande.title }}" placeholder="placer le titre">
						<label for="subTitle">
							Sous-Titre :
						</label>
						<input type="text" id="subtitle" name='subTitle' value="{{bande.subtitle}}" placeholder="placer le sous titre">
						<input type="color" id="color" name="head" value="{{bande.color}}">

						<p class="error"></p>
					</div>
					{%  if bande.bandeProduct %}
						{{ include('admin/admin_bande/bande_product.html.twig') }}
					{% elseif bande.bandeCategory %}
						{{ include('admin/admin_bande/bande_category.html.twig') }}
					{% elseif bande.bandeCategoryTitle %}
						{{ include('admin/admin_bande/bande_categorytitle.html.twig') }}
					{% elseif bande.bandeArticle %}
						{{ include('admin/admin_bande/bande_article.html.twig') }}
					{% elseif bande.BandeMarque %}
						{{ include('admin/admin_bande/bande_marque.html.twig') }}
					{% elseif bande.bandePromo %}
						{{ include('admin/admin_bande/bande_promo.html.twig') }}
					{% endif %}
				</div>

			{% endfor %}

		</div>

		<div onclick="addBande(this)" class="more ">
			<i class="fas fa-2x fa-plus"></i>
		</div>
		<div class="popUpError">Oh ! Vous avez une erreur dans votre bande !</div>
		<button onclick="validAll()" class="validAll">
			Validez les bandes</button>

	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('bande') }}
{% endblock %}
