{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('design')}}
{% endblock %}

{% block body %}
	<div class="content">
		<h1>Le design</h1>
		{{ form_start(form)}}
		<div class="title">
			{{ form_row(form.headerTitle) }}

			{{ form_row(form.headerSubTitle) }}

		</div>
		<div class="picture">
			{{ form_row(form.pictureFile) }}
			<div class="imagecard">
				<img width="100%" height="100%" src="{{ vich_uploader_asset(design.logo,'imageFile') }}" alt="">

			</div>


		</div>
		<div class="colors flex">

			{{ form_row(form.PrimaryColor) }}


			{{ form_row(form.sencondaryColor) }}


		</div>
		<div style="background-color:{{design.colorBande}}" class="high-showoff">
			<div class="position">
				{{ form_row(form.position) }}

			</div>
			<div class="bandecolor">
				{{ form_row(form.colorBande) }}

			</div>


			<div class="showoff flex column ">
				{{ form_row(form.bandeTitle) }}


				<div class="showoffIn flex">
					<div class=" flex column ">
						<span>{{ source('@public_path'~asset('svg/paint.svg')) }}</span>
						{{ form_row(form.bandeTitleLeft) }}

						{{ form_row(form.bandeLeft) }}


					</div>
					<div class=" flex column ">
						<span>
							{{ source('@public_path'~asset('svg/box.svg')) }}</span>

						{{ form_row(form.bandeTitleCenter) }}

						{{ form_row(form.bandeCenter) }}


					</div>
					<div class=" flex column ">
						<span>
							{{ source('@public_path'~asset('svg/customer.svg')) }}</span>

						{{ form_row(form.bandeTitleRight) }}

						{{ form_row(form.bandeRight) }}

					</div>

				</div>


			</div>
		</div>
		<div class="aboutUs">
			<h1>Page A propos</h1>
			{{ form_row(form.aboutUsPictureTitle) }}


			{{ form_row(form.aboutUsPictureSubTitle) }}


			{{ form_row(form.aboutUsTitle) }}


			{{ form_row(form.aboutUsContent) }}
		</div>


		<div class="picture">
			{{ form_row(form.pictureFileAboutUs) }}

			<div class="imagecard">
				<img width="100%" height="100%" src="{{ vich_uploader_asset(design.aboutUsPicture,'imageFile') }}" alt="">


			</div>


		</div>
		<div class="aboutUs">
			<h1>Page  des marques</h1>

		</div>


		<div class="picture">
			{{ form_row(form.pictureFileMarque) }}


			<div class="imagecard">
				<img width="100%" height="100%" src="{{ vich_uploader_asset(design.marquePicture,'imageFile') }}" alt="">


			</div>


		</div>
		<div class="aboutUs">
			<h1>Icon du Site Web</h1>

		</div>


		<div class="picture">
			{{ form_row(form.pictureFileIcon) }}


			<div class="imagecard">
				<img width="100%" height="100%" src="{{ vich_uploader_asset(design.Icon,'imageFile') }}" alt="">


			</div>


		</div>


		<div class="button">
			<button>Soumettre</button>

		</div>

		{{ form_end(form)}}


	</div>


{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('design') }}


{% endblock %}
