{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('design')}}
{% endblock %}
{% block cdn %}
	{{parent()}}
	<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
{% block body %}
	<div class="content">
		<h1>Le design</h1>
		<div class="bandes" data-sortable=".bande">
			{% for bande in design.bandes %}
				<div class="bande" data-position={{bande.position -1}} data-id={{bande.id}}>
					<div  onclick="deleteBande(this)" class="cross">
						<i class="fas fa-times"></i>
					</div>
					<div class="details">
						<label for="Visible">Visible :</label>
						<input type="number" value={{bande.slideVisible}} name='Visible'>
						<label for="scroll">
							scroll:</label>
						<input type="number" value={{bande.slideToScroll}} name='scroll'>
						<label for="loop">
							loop</label>
						<input type="checkbox" {{ (bande.loopable) ? checked : '' }} name='loop'>
						<p>
							{{bande.type}}
						</p>
					</div>
					{%  if bande.bandeProduct %}
						{{ include('admin/admin_design/bande_product.html.twig') }}
					{% elseif bande.bandeCategory %}
						{{ include('admin/admin_design/bande_category.html.twig') }}
					{% elseif bande.bandeCategoryTitle %}
						{{ include('admin/admin_design/bande_categorytitle.html.twig') }}
					{% elseif bande.bandeArticle %}
						{{ include('admin/admin_design/bande_article.html.twig') }}
					{% elseif bande.BandeMarque %}
						{{ include('admin/admin_design/bande_marque.html.twig') }}
					{% elseif bande.bandePromo %}
						{{ include('admin/admin_design/bande_promo.html.twig') }}
					{% endif %}
				</div>

			{% endfor %}

		</div>
		<div onclick="addBande(this)" class="more ">
			<i class="fas fa-2x fa-plus"></i>
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('design') }}
{% endblock %}
