{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes categorie ennfants de {{ highCategory.name}}</h1>
		{{form_start(form)}}
		<div class="form-row">
			{{form_row(form.queryName)}}
			<div class="button_form">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		{{form_end(form)}}
		<table class="table_admin">
			<thead>
				<th>nom</th>
				<th>Description</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for categorie in categories %}
					<tr>
						<td>{{categorie.name}}
						</td>
						<td>{{categorie.description}}</td>
						<td class="flex">
							<a href="#">Editer</a>
							<a href="#">Consulter</a>
                            <a href="#">Supprimer</a>
						</td>

					</tr>
				{% endfor %}


			</tbody>


		</table>
		<div class="pagination">
			{{ knp_pagination_render(categories) }}
		</div>
	{% endblock %}