{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes Produits de la marque
																																																									"{{marque.name}}"</h1>
		<a href="{{path('admin_product_new')}}}" class="new">Créer un nouveau produit
		</a>
		<a href="{{path('admin_marque_edit',{ id: marque.id })}}" class="newUnder">Editer cette marque</a>
		{{ include('admin/admin_product/productsList.html.twig') }}

	</div>
{% endblock %}
