{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes Produits</h1>
		<a href="{{path('admin_product_new')}}" class="new">Créer un nouveau produit</a>

		{{form_start(form)}}
		<div class="form-row flex">
			{{form_row(form.queryName,{ 'attr' : { 'placeholder': 'Rechercher un produit par son nom'} })}}

			<div class="button_form">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		{{form_end(form)}}
		{% if products|length >0 %}

			<table class="table_admin">
				<thead>
					<th>
						<div>
							{% if products.isSorted('p.name') %}
								{% if products.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(products, 'Nom', 'p.name') }}

						</div>
					</th>


					<th>
						<div>
							{% if products.isSorted('p.stock') %}
								{% if products.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(products, 'Stock', 'p.stock') }}

						</div>
					</th>

					<th>Unite</th>
					<th>afficher</th>
					<th>
						<div>
							{% if products.isSorted('p.slug') %}
								{% if products.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(products, 'Slug', 'p.slug') }}

						</div>
					</th>

					<th>Marque</th>
					<th>Categorie</th>
					<th>image</th>
					<th>Action</th>
				</thead>
				<tbody>
					{% for product in products %}

						<td>{{product.name|length > 10 ? product.name|slice(0,10)~ '...' : product.name}}</td>


						<td>{{product.stock}}</td>
						<td>{{product.unite}}</td>
						{% if product.afficher == true %}
							<td>
								<i class="fas fa-check"></i>
							</td>


						{% else %}
							<td>
								<i class="fas fa-times"></i>
							</td>


						{% endif %}

						<td>{{product.slug}}</td>
						{% if product.marque %}
							<td>
								<a href="{{ path('admin_marque_consult' , { id: product.marque.id }) }}">{{product.marque.name}}</a>
							</td>

						{% else %}
							<td>Pas de marques</td>
						{% endif %}
						<td>
							<a href="{{ path('admin_low_category_consult' , { id: product.category.id }) }}">{{product.category.name}}</a>

						</td>

						<td>
							{% if product.pictures %}
								{% for picture in product.pictures %}
									<div class="imagecard">
										<img width="100%" height="100%" src="{{ vich_uploader_asset(picture,'imageFile') }}" alt="">
									</div>
								{% endfor %}

							{% endif %}
						</td>
						<td class="flex column">
							<a href="{{path('admin_product_edit',{ id: product.id })}}">Editer</a>
							<form action="{{ path('admin_product_delete' , { id: product.id }) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
								<button>Supprimer</button>
							</form>
						</td>
					</tbody>
				</tbody>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="pagination">{{ knp_pagination_render(products) }}</div>{% else %}
<div class="noItem">
	Aucun element ne correspond
</div>{% endif %}{% endblock %}
