{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('form')}}
{% endblock %}

{% block body %}
	<div class="content column ">
		<div class="comment-form">
			{{ form_start(form)}}
			{{ form_rest(form) }}
			<button class="btn btn-primary">soumettre</button>
			{{ form_end(form)}}
		</div>
	</div>
	{% block javascripts %}
		{{ encore_entry_script_tags('form') }}
		{{ encore_entry_script_tags('formCategory') }}
	{% endblock %}
{% endblock %}
