{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes Articles</h1>
		<a href="{{path('admin_article_new')}}" class="new">Créer un nouvel article</a>

		{{form_start(form)}}
		<div class="form-row flex">
			{{form_row(form.queryName,{ 'attr' : { 'placeholder': 'Rechercher un article par son titre'} })}}

			<div class="button_form">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		{{form_end(form)}}
		{% if articles|length >0 %}


			<table class="table_admin">
				<thead>

					<th>
						<div>
							{% if articles.isSorted('a.title') %}
								{% if articles.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(articles, 'Titre', 'a.title') }}

						</div>
					</th>
					<th>
						<div>
							{% if articles.isSorted('a.views') %}
								{% if articles.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(articles, 'Vues', 'a.views') }}

						</div>
					</th>

					<th>
						<div>
							{% if articles.isSorted('a.content') %}
								{% if articles.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(articles, 'Contenu', 'a.content') }}

						</div>
					</th>
					<th>
						<div>
							{% if articles.isSorted('a.created_at') %}
								{% if articles.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(articles, 'Date de création', 'a.created_at') }}

						</div>
					</th>


					<th>
						<div>
							{% if articles.isSorted('a.slug') %}
								{% if articles.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(articles, 'Slug', 'a.slug') }}

						</div>
					</th>
					<th>Publié</th>

					<th>image</th>
					<th>Action</th>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td>{{article.title}}
							</td>
							<td>{{article.views}}
							</td>


							<td>{{article.content|length > 200 ? article.content|slice(0,200)~ '...' : article.content}}</td>
							<td>{{article.createdat|date("m/d/Y")}}</td>

							<td>{{article.slug}}</td>
							{% if article.published == true %}
								<td>
									<i class="fas fa-check"></i>
								</td>


							{% else %}
								<td>
									<i class="fas fa-times"></i>
								</td>


							{% endif %}

							<td>
								{% if article.picture %}

									<div class="imagecard">
										<img width="100%" height="100%" src="{{ vich_uploader_asset(article.picture,'imageFile') }}" alt="">
									</div>


								{% endif %}
							</td>
							<td class="flex column">
								<a href="{{path('admin_article_edit',{ id: article.id })}}">Editer</a>

								<form action="{{ path('admin_article_delete' , { id: article.id }) }}" method="post">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
									<button onclick="return confirm('Etes vos sure de couloir supprimer cet article, si cette article est présent dans une bande elle sera supprimé ?')">Supprimer</button>

								</form>
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination">
				{{ knp_pagination_render(articles) }}
			</div>
		{% else %}
			<div class="noItem">
				Aucun element ne correspond
			</div>
		{% endif %}

	{% endblock %}
