<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Admin
			{% endblock %}
		</title>

		{% block cdn %}
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		{% endblock %}
		{% block stylesheets %}
			{{ encore_entry_link_tags('admin')}}
		{% endblock %}


	</head>
	<body>
		{% block header %}
			{{ include('partials/_header_admin.html.twig') }}
		{% endblock %}
		{% block body %}
			je suis le body
		{% endblock %}
		{% for cat, list in app.flashes %}
			{% for message in list %}
				<div class="flash flash-{{ cat }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
		{% block javascripts %}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}
	</body>

</html>
