{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_command_consult')}}
{% endblock %}
{% block body %}
	<div class="content column ">


		<h1>Commande numero
			{{command.id}}
			de
			<a href="#">
				{{command.user.email}}
			</a>

		</h1>
		<ul>

			{% for item in command.comandProducts %}
				<li class="flex">
					-<p>{{item.number}}</p>
					<a href="#">{{item.products.name}}</a>

				</li>


			{% endfor %}


		</ul>

		{{ form_start(form)}}
		{{ form_rest(form) }}
		<div class="submit">
			<button class="btn btn-primary">Soumettre</button>
		</div>

		{{ form_end(form)}}


	</div>
{% endblock %}
