{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes Commandes</h1>
		{{form_start(form)}}
		<div class="form-row">
			{{form_row(form.queryName)}}
			<div class="button_form">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		{{form_end(form)}}
		<table class="table_admin">
			<thead>
				<th>
					<div>
						{% if commands.isSorted('c.created_at') %}
							{% if commands.direction == "asc" %}
								<i class="fas fa-chevron-up"></i>
							{% else %}
								<i class="fas fa-chevron-down"></i>

							{% endif %}


						{% endif %}

						{{ knp_pagination_sortable(commands, 'Date de création', 'c.created_at') }}

					</div>
				</th>

				<th>
					<div>
						{% if commands.isSorted('c.treated') %}
							{% if commands.direction == "asc" %}
								<i class="fas fa-chevron-up"></i>
							{% else %}
								<i class="fas fa-chevron-down"></i>

							{% endif %}


						{% endif %}

						{{ knp_pagination_sortable(commands, 'Traité', 'c.treated') }}

					</div>
				</th>

				<th>Commentaire</th>
				<th>email de l'utilisateur</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for command in commands %}

					<td>{{command.createdat|date("m/d/Y")}}</td>

					{% if command.treated == true %}
						<td>
							<i class="fas fa-check"></i>
						</td>


					{% else %}
						<td>
							<i class="fas fa-times"></i>
						</td>


					{% endif %}


					{% if command.comment %}
						<td>{{command.comment}}</td>
					{% else %}
						<td>Pas de commentaires</td>
					{% endif %}


					<td>{{command.user.email}}</td>


					<td class="flex">
						<a href="#">Editer</a>
						<a href="#">Consulter</a>
						<form action="{{ path('admin_marque_delete' , { id: command.id }) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ command.id) }}">
							<button>Supprimer</button>
						</form>
					</td>
				</tbody>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table><div class="pagination">
{{ knp_pagination_render(commands) }}</div>{% endblock %}
