{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes utilisateurs</h1>
		{{form_start(form)}}
		<div class="form-row flex ">
			{{form_row(form.queryName,{ 'attr' : { 'placeholder': 'Rechercher un utilisateur  par l\'email de l\'utilisateur'} })}}

			<div class="button_form">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		{{form_end(form)}}
		{% if users|length >0 %}

			<table class="table_admin">
				<thead>
					<th>
						<div>
							{% if users.isSorted('u.email') %}
								{% if users.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(users, 'Email', 'u.email') }}

						</div>
					</th>

					<th>
						<div>
							{% if users.isSorted('u.firstname') %}
								{% if users.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(users, 'Prénom', 'u.firstname') }}

						</div>
					</th>


					<th>
						<div>
							{% if users.isSorted('u.lastname') %}
								{% if users.direction == "asc" %}
									<i class="fas fa-chevron-up"></i>
								{% else %}
									<i class="fas fa-chevron-down"></i>

								{% endif %}


							{% endif %}

							{{ knp_pagination_sortable(users, 'Nom', 'u.lastname') }}

						</div>
					</th>


					<th>Actions</th>

				</thead>
				<tbody>
					{% for user in users %}

						<td>{{user.email}}</td>
						<td>{{user.firstname}}</td>
						<td>{{user.lastname}}</td>


						<td class="flex column ">
							<a href="{{ path('admin_user_command' , { id: user.id }) }}">Consulter ses commandes</a>


							<a href="{{ path('admin_user_want' , { id: user.id }) }}">Consulter ses envies</a>


							<a href="{{ path('admin_user_consult' , { id: user.id }) }}">Consulter</a>


							<form action="{{ path('admin_marque_delete' , { id: user.id }) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
								<button>Supprimer</button>
							</form>
						</td>
					</tbody>
				</tbody>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="pagination">
	{{ knp_pagination_render(users) }}</div>{% else %}
<div class="noItem">
	Aucun element ne correspond
</div>{% endif %}{% endblock %}
