{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes utilisateurs</h1>
		{{form_start(form)}}
		<div class="form-row flex ">
			{{form_row(form.queryName,{ 'attr' : { 'placeholder': 'Rechercher un utilisateur  par l\'email de l\'utilisateur'} })}}

			<div class="button_form">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		{{form_end(form)}}
		<table class="table_admin">
			<thead>
				<th>
					<div>
						{% if users.isSorted('u.email') %}
							{% if users.direction == "asc" %}
								<i class="fas fa-chevron-up"></i>
							{% else %}
								<i class="fas fa-chevron-down"></i>

							{% endif %}


						{% endif %}

						{{ knp_pagination_sortable(users, 'Email', 'u.email') }}

					</div>
				</th>

				<th>
					<div>
						{% if users.isSorted('u.firstname') %}
							{% if users.direction == "asc" %}
								<i class="fas fa-chevron-up"></i>
							{% else %}
								<i class="fas fa-chevron-down"></i>

							{% endif %}


						{% endif %}

						{{ knp_pagination_sortable(users, 'Prénom', 'u.firstname') }}

					</div>
				</th>


				<th>
					<div>
						{% if users.isSorted('u.lastname') %}
							{% if users.direction == "asc" %}
								<i class="fas fa-chevron-up"></i>
							{% else %}
								<i class="fas fa-chevron-down"></i>

							{% endif %}


						{% endif %}

						{{ knp_pagination_sortable(users, 'Nom', 'u.lastname') }}

					</div>
				</th>

				<th>Télephone
				</th>
				<th>Addresse</th>
				<th>Vérifié</th>
				<th>Actions</th>

			</thead>
			<tbody>
				{% for user in users %}

					<td>{{user.email}}</td>
					<td>{{user.firstname}}</td>
					<td>{{user.lastname}}</td>
					<td>{{user.telephone}}</td>
					{% if user.addresse %}
						<td>{{user.addresse}}</td>
					{% else %}
						<td>Pas d'addresse'</td>
					{% endif %}


					{% if user.isverified == true %}
						<td>
							<i class="fas fa-check"></i>
						</td>
					{% else %}
						<td>
							<i class="fas fa-times"></i>
						</td>


					{% endif %}


					<td class="flex column ">
						<a href="#">Consulter ses commandes</a>
						<a href="#">Consulter ses envies</a>
						<form action="{{ path('admin_marque_delete' , { id: user.id }) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
							<button>Supprimer</button>
						</form>
					</td>
				</tbody>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table><div class="pagination">
{{ knp_pagination_render(users) }}</div>{% endblock %}
