{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('marque') }}
{% endblock %}
{% block title %}
	Nos Marques


{% endblock %}


{% block body %}

	<div class="content flex column">
		<div class="image flex column " style="background-image:url('{{ vich_uploader_asset(design.marquePicture,'imageFile') }}')">
			<h2>DECOUVRER</h2>
			<h1>TOUTES NOS MARQUES</h1>
		</div>
		<div class="marques flex">
			{% for marque in marques %}
				<a href="{{path('productsMarques',{ slug : marque.slug } )}}" style="--background: {{colors.allColors.primary}};" class="marque">


					<img width="90%" height="55%" src="{{ vich_uploader_asset(marque.picture,'imageFile') }}" alt="">
				</a>
			{% endfor %}
		</div>

	</div>


{% endblock %}
