{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('admin_index')}}
{% endblock %}
{% block body %}
	<div class="content column ">
		<h1>Mes Basses  categories de la haute categorie "{{highCategory.name}}"</h1>

		<a href="{{path('admin_low_category_new')}}?category={{highCategory.id}}" class="new">Créer une nouvelle basse categorie à cette haute categorie</a>


		<a href="{{path('admin_high_category_edit',{ id: highCategory.id })}}" class="newUnder">Editer cette haute categorie</a>
		{{ include('admin/admin_low_category/lowCategoriesList.html.twig') }}


	</div>
{% endblock %}
