<div class="ensemble_left_panier flex column">
	<div class="flex onglet">
		<div style="--background: {{colors.allColors.primary}};" class=" ensemble_onglet flex column">

			<div onclick="goToBasketItems(this)" class="onglet_panier flex">


				<i class=" fa-lg fas fa-shopping-basket "></i>

				<p>Panier</p>

			</div>
			<div style="--background: {{colors.allColors.primary}};" class="bordure_panier  "></div>

		</div>
		<div style="--background: {{colors.allColors.primary}};" class="column flex ensemble_onglet">

			<div onclick="goToAsideItems(this)" class="onglet_cote flex">


				<i class="far fa-lg fa-arrow-alt-circle-down active"></i>


				<p>Mis de coté</p>

			</div>
			<div style="--background: {{colors.allColors.primary}};" class="bordure_panier active"></div>

		</div>
	</div>
		<div class=" {{basket ? " " : " none "}} basketlist flex column toFill">


			{% for product in products %}
				<div data-id={{ product.id }} class="basketItem flex">
					<img width="20%" height="80%" src="{{ vich_uploader_asset(product.pictures[0],'imageFile') }}" alt="">
					<div class="itemsDetails flex column">
<a style="color: {{colors.allColors.primary}}" href="{{path('produit',{ slug: product.slug })}}">{{ product.name }}</a>


						<p class="descriptionItem">{{product.description|length > 350 ? product.description|slice(0,350)~ '...' : product.description}}</p>

						<div class="flex itemOptions">

							<p style="color: {{colors.allColors.primary}}" onclick="addToBasketFromAside(this)" class="action">Ajoutez au panier</p>


							<p>|</p>
							<p style="color: {{colors.allColors.primary}}" onclick="deleteFromAside(this)" class="action">Supprimer</p>


						</div>


					</div>


				</div>
			{% endfor %}
		</div>


	

<div class=" {{basket ? " none " : " "}}panier_vide novalidB flex column toFill ">




			<h1>Ça alors. Vous n’avez rien mis de côté.
			</h1>

			<span>
				{{ source('@public_path'~asset('svg/vide.svg')) }}</span>
		</div>




</div>
<div class="flex  ensemble_right_panier ">


	
		<div class="recap {{basket ? " " : " none "}} validB flex column ">


			
				<button style="background-color: {{colors.allColors.primary}}" onclick="goToBasketItems(this)">Retournez au panier</button>


			

		</div>

	
		<div  class=" {{basket ? " none " : ""}}recap flex column ">


			<h2>Mais c’est vide. Et si vous faisiez un tour dans notre catalogue ?</h2>
			<a href="">

				<button style="background-color: {{colors.allColors.primary}}">Aller au catalogue</button>

			</a>
		</div>

	


</div>
