<div class="ensemble_left_panier flex column">
	<div class="flex onglet">
		<div style="--background: {{colors.allColors.primary}};" class=" ensemble_onglet flex column">

			<div onclick="goToBasketItems(this)" class="onglet_panier flex">


				<i class=" fa-lg fas fa-shopping-basket active"></i>

				<p>Panier</p>

			</div>
			<div style="--background: {{colors.allColors.primary}};" class="bordure_panier active "></div>

		</div>
		<div style="--background: {{colors.allColors.primary}};" class="column flex ensemble_onglet">

			<div onclick="goToAsideItems(this)" class="onglet_cote flex">


				<i class="far fa-lg fa-arrow-alt-circle-down"></i>


				<p>Mis de coté</p>

			</div>
			<div style="--background: {{colors.allColors.primary}};" class="bordure_panier"></div>

		</div>
	</div>
	<div class=" {{basket ? " " : " none"}} basketlist tofill  flex column ">


		{% for product in products %}
			<div data-id={{ product.id }} class="basketItem flex">
				<img width="20%" height="80%" src="{{ vich_uploader_asset(product.pictures[0],'imageFile') }}" alt="">
				<div class="itemsDetails flex column">
					<a href="{{path('produit',{ slug: product.slug })}}" style="color: {{colors.allColors.primary}}">{{ product.name|capitalize }}</a>


					<p class="descriptionItem">{{product.descriptionList.content|length > 350 ? product.descriptionList.content|slice(0,350)~ '...' : product.descriptionList.content}}</p>

					<div data-nbr={{product.basketNumber}} class="flex itemOptions">

						<div onclick="deplierQuantity(this)" class="flex quantityBasket  ">

							<p>Qte:</p>
							<p id="number">{{ product.basketNumber}}</p>

							<i style="color: {{colors.allColors.primary}}" class="fas fa-xs fa-arrow-down"></i>

							<div class="changeQuantity column ">
								<p onclick="changeQuantity(this)">0 (Supprimer)</p>

								<p onclick="changeQuantity(this)">1</p>

								<p onclick="changeQuantity(this)">2</p>

								<p onclick="changeQuantity(this)">3</p>

								<p onclick="changeQuantity(this)">4</p>

								<p onclick="changeQuantity(this)">5</p>

								<p onclick="changeQuantity(this)">6</p>

								<p onclick="changeQuantity(this)">7</p>

								<p onclick="changeQuantity(this)">8</p>

								<p onclick="changeQuantity(this)">9</p>

								<p onclick="changeQuantity(this)">10 +</p>


							</div>

						</div>
						<input onclick="activeUpdateItesmBasket(this)" oninput="typeItemBasket(this)" class="inputquantity  " type="number" value="{{ product.basketNumber}}">


						<p id="unite">{{ product.unite }}</p>

						<div style="background-color: {{colors.allColors.primary}}" onclick="updateTheInput(this)" class="update">Mettre a jour</div>


						<p>|</p>
						<p style="color:{{colors.allColors.primary}}" onclick="deleteThisItem(this)" class="action">Supprimer</p>

						<p>|</p>
						<p style="color: {{colors.allColors.primary}}" onclick="putAsideThisItem(this)" class="action">Mettre de coté</p>


					</div>


				</div>


			</div>
		{% endfor %}
	</div>


	<div class=" {{basket ? " none " : " "}} panier_vide flex column toFill">


		<h1>Ça alors. Votre panier est vide
		</h1>

		<span>
			{{ source('@public_path'~asset('svg/vide.svg')) }}</span>
	</div>


</div>
<div class="flex  ensemble_right_panier ">

	<div class="  {{basket ? " " : " none"}} validb recap flex column ">


		<form action="{{ path('profile_panier_confirm') }}" method="post">
			<input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ idUser) }}">
			<button style="background-color: {{colors.allColors.primary}}">Valider la commande</button>


		</form>

	</div>


	<div class="recap  novalidB  {{basket ? " none" : " "}} flex column ">


		<h2>Mais c’est vide. Et si vous faisiez un tour dans notre catalogue ?</h2>
		<a href="">

			<button style="background-color: {{colors.allColors.primary}}">Aller au catalogue</button>

		</a>
	</div>

</div>
