{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('basket') }}
{% endblock %}


{% block body %}
	<div class="content flex ">
		{{ include('basket/basket.html.twig') }}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}{{ encore_entry_script_tags('basket') }}
{% endblock %}
