{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('oneArticle') }}
{% endblock %}
{% block title %}
	{{article.title|capitalize}}

{% endblock %}


{% block body %}
	<div class="content flex column">
		<div class="img">
			<img width="100%" height="100%" src="{{ vich_uploader_asset(article.picture,'imageFile') }}" alt="">
		</div>

		<h1 style="color: {{colors.allColors.primary}}">{{article.title|capitalize}}</h1>


		<p style="white-space: pre-line">{{article.content}}</p>

		<span>Fait le
			{{article.createdat|date("m/d/Y")}}
		</span>

	</div>
{% endblock %}
