{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('commands') }}
{% endblock %}
{% block title %}
	Mes Commandes

{% endblock %}



{% block body %}
	<div class="content flex column ">
	<h1>Mes commandes</h1>
	{% for command in commands %}
<a style="background-color: {{colors.allColors.secondary}}" href="{{path('commande_one',{ id: command.id })}}" class="command">Commande du

	{{command.createdat|date("m/d/Y")}}</a>



	{% endfor %}
<div style="--background: {{colors.allColors.primary}};" class="righ-produits-bas flex column">


	{{ knp_pagination_render(commands) }}

</div>





	</div>
{% endblock %}
