{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}


{% block body %}
	<div class="content flex column ">
		<h1>Bienvenue sur votre compte !</h1>

		<h2>Ici, vous êtes comme à la maison</h2>
<div style="background-color: {{colors.allColors.secondary}}" class="cardprofile">

			<h1>Mes commandes</h1>
			<div class="redirect">
				<a class="flex" href="{{ path('commande_valide')}}">


					<p>Toutes mes commandes</p>
					<i class="fas fa-chevron-right"></i>
				</a>

			</div>
		</div>
<div style="background-color: {{colors.allColors.secondary}}" class="cardprofile">

			<h1>Mon panier / mes envies</h1>
			<div class="redirect">
				<a class="flex" href="{{ path('profile_panier')}} ">


					<p>Consulter</p>
					<i class="fas fa-chevron-right"></i>
				</a>


			</div>

		</div>

<div style="background-color: {{colors.allColors.secondary}}" class="cardprofile">

			<h1>Mes informations personelles</h1>
			<div class="redirect flex ">
				<a class="flex" href="{{ path('parameters')}}">


					<p>Modifier mes information personnelles</p>
					<i class="fas fa-chevron-right"></i>
				</a>


			</div>

		</div>


	</div>
{% endblock %}
