{% extends "base.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('inscription') }}
{% endblock %}

{% block header %}

	{{ include('partials/_header_log.html.twig') }}
{% endblock %}


{% block body %}

	<div class="content flex column ">
		<h1 style="color: {{colors.allColors.primary}}">Ah vous êtes nouveau !</h1>


		<h2 style="color: {{colors.allColors.primary}}">On est ravi de vous rencontrer!</h2>
<a style="color: {{colors.allColors.primary}}" href="{{path('connexion')}}">Deja Inscris ? Connectez vous !</a>

		{{form_start(formInscription)}}
		<h1 style="color: {{colors.allColors.primary}}">Inscription</h1>


		{{form_rest(formInscription)}}
		<button type="submit">S'inscrire</button>
		{{form_end(formInscription)}}


	</div>

{% endblock %}


{% block footer %}{% endblock %}
