{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('parameters') }}
{% endblock %}


{% block body %}
	<div style="--background: {{colors.allColors.primary}};" class="content flex column">

		<h1>Mes parametres</h1>

		<div class="change flex ">


<div style="background-color: {{colors.allColors.secondary}}">

				<h1>Mes informations personelles</h1>

				{{ form_start(changeForm) }}
				{{ form_rest(changeForm) }}


				<button type="submit">Envoyer</button>

				{{ form_end(changeForm)}}

			</div>

<div style="background-color: {{colors.allColors.secondary}}">

				<h1>Supprimez mon compte</h1>


				<button type="submit">Supprimez</button>


			</div>
<div style="background-color: {{colors.allColors.secondary}}">

				<h1>Modifier mon mot de passe</h1>
				{{ form_start(passwordForm) }}
				{{ form_rest(passwordForm) }}

				<button type="submit">Envoyer</button>

				{{ form_end(passwordForm)}}


			</div>

		</div>

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('parameters') }}

{% endblock %}
